@use 'reset';
@use 'variables' as v;
@use 'fonts';

:root {
    --bg: #{v.$bg-light};
    --surface: #{v.$surface-light};
    --text-primary: #{v.$text-primary-light};
    --text-secondary: #{v.$text-secondary-light};
    --placeholder: #{v.$placeholder-light};
    --controls: #{v.$controls-light};
    --filter-active: #{v.$text-primary-light};

    --add-button: #{v.$black};
    --input: #{v.$white};
    --check: #{v.$white};
}

body.dark-theme {
    --bg: #{v.$bg-dark};
    --surface: #{v.$surface-dark};
    --text-primary: #{v.$text-primary-dark};
    --text-secondary: #{v.$text-secondary-dark};
    --placeholder: #{v.$placeholder-dark};
    --controls: #{v.$controls-dark};
    --filter-active: #{v.$text-primary-dark};

    --add-button: #{v.$slate-500};
    --input: #{v.$slate-700};
    --check: #{v.$black};
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    color: var(--text-primary);
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-weight: 900;
    }

    &__theme {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        gap: 12px;
        color: var(--controls);
        transition: all 0.3s ease;

        path {
            stroke: currentColor;
            transition: all 0.3s ease;
        }

        &-title {
            &::before {
                content: 'Dark';
            }

            body.dark-theme & {
                &::before {
                    content: 'Light';
                }
            }
        }

        &-icon {
            display: flex;
            align-items: center;

            svg {
                &:nth-child(1) {
                    display: block;
                }

                &:nth-child(2) {
                    display: none;
                }
            }
        }

        body.dark-theme & {
            &-icon {
                svg:nth-child(1) {
                    display: none;
                }

                svg:nth-child(2) {
                    display: block;
                }
            }
        }

        &:hover {
            color: v.$slate-300;
        }
    }

}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    gap: 60px;
    margin-bottom: 116px;

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 48px;
    }

    &__form {
        display: flex;
        height: auto;
        width: 100%;
        gap: 28px;
    }

    &__form-input {
        outline: none;
        border: none;
        background-color: var(--input);
        color: var(--text-primary);
        height: 60px;
        width: 100%;
        padding: 16px 26px;
        border-radius: 12px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

        &::placeholder {
            color: var(--placeholder);
            font-weight: 400;
        }

        body.dark-theme & {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px v.$slate-500;
        }
    }

    &__form-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: var(--add-button);
        color: v.$white;
        font-weight: 700;
        border-radius: 12px;
        padding: 16px 32px;
        gap: 6px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: v.$midnight;
            scale: 1.02;
        }

        body.dark-theme & {
            &:hover {
                background-color: v.$slate-300;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: auto;
        width: 100%;
    }

    &__filters {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        color: var(--text-secondary);

        &-list {
            display: flex;
        }

        &-btn {
            background: none;
            border: none;
            color: var(--text-secondary);
            cursor: pointer;
            transition: all .3s ease;

            &.is-active {
                color: var(--filter-active);
            }

            &:hover:not(.is-active) {
                color: v.$slate-500;
            }

            &:hover {
                transform: translateY(-2px);
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 84px;
            width: 100%;
            background-color: var(--surface);
            border-radius: 12px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
            padding: 0px 36px 0px 28px;

            &--done {
                .todo__item-title {
                    color: var(--text-secondary);
                    text-decoration: line-through;
                }
            }
        }
    }

    &__item-content {
        display: flex;
        gap: 32px;
    }

    &__item-checkbox {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        width: 20px;
        height: 20px;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked+span {
                background-color: var(--controls);
                box-shadow: none;

                svg {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }

            &:not(:checked)+span:hover {
                background-color: v.$gray-100;
                box-shadow: inset 0 0 0 2px v.$slate-300;

                body.dark-theme & {
                    background-color: v.$slate-700;
                    box-shadow: inset 0 0 0 2px v.$slate-300;
                }
            }
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: transparent;
            box-shadow: inset 0 0 0 2px var(--controls);
            border-radius: 3px;
            transition: all 0.3s ease;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 6px;
                color: var(--check);

                opacity: 0;
                transform: translate(-50%, -50%) scale(0.5);
                transition: all 0.3s ease;
            }
        }
    }

    &__item-controls {
        display: flex;
        gap: 28px;
    }

    &__item-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        outline: none;
        width: 24px;
        height: 24px;
        padding: 0;
        cursor: pointer;

        &--edit {
            &:hover {
                path {
                    stroke: v.$slate-300;
                }
            }
        }

        &--delete {
            &:hover {
                path {
                    stroke: v.$slate-300;
                }
            }
        }

        path {
            stroke: var(--controls);
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
        }
    }
}

.footer {
    &__copy {
        font-size: 20px;
        color: var(--text-secondary);
    }
}