@use 'reset';
@use 'variables' as v;
@use 'fonts';

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$bg-light;
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    color: v.$text-primary-light;
    font-weight: 400;

    &.dark-theme {
        background-color: v.$bg-dark;
        color: v.$text-primary-dark;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .header__title {
        font-weight: 900;
    }

    .header__theme {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        gap: 12px;
    }

}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    gap: 60px;

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 48px;
    }

    &__form {
        display: flex;
        height: auto;
        width: 100%;
        gap: 28px;
    }

    &__form-input {
        outline: none;
        border: none;
        background-color: v.$surface-light;
        height: 60px;
        width: 100%;
        padding: 16px 26px;
        border-radius: 12px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

        &::placeholder {
            color: v.$placeholder-light;
            font-weight: 400;
        }
    }

    &__form-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: v.$controls-light;
        color: v.$white;
        border-radius: 12px;
        padding: 16px 32px;
        gap: 6px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
}