@use 'reset';
@use 'variables' as v;
@use 'fonts';
@use 'mixins' as m;

:root {
    --bg: #{v.$bg-light};
    --surface: #{v.$surface-light};
    --text-primary: #{v.$text-primary-light};
    --text-secondary: #{v.$text-secondary-light};
    --placeholder: #{v.$placeholder-light};
    --controls: #{v.$controls-light};
    --filter-active: #{v.$text-primary-light};

    --add-button: #{v.$black};
    --input: #{v.$white};
    --check: #{v.$white};

    &.dark-theme {
        --bg: #{v.$bg-dark};
        --surface: #{v.$surface-dark};
        --text-primary: #{v.$text-primary-dark};
        --text-secondary: #{v.$text-secondary-dark};
        --placeholder: #{v.$placeholder-dark};
        --controls: #{v.$controls-dark};
        --filter-active: #{v.$text-primary-dark};

        --add-button: #{v.$slate-500};
        --input: #{v.$slate-700};
        --check: #{v.$black};
    }
}



body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    color: var(--text-primary);
    font-weight: 400;
}

body,
.wrapper {
    transition: all 0.3s ease;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;

    @include m.mobile-m {
        padding: 16px 16px;
    }
}

.is-hidden {
    display: none !important;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-weight: 900;

        @include m.mobile-m {
            font-size: 20px;
        }

        @include m.mobile-s {
            font-size: 18px;
        }
    }

    &__theme {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        gap: 12px;
        color: var(--controls);
        transition: all 0.3s ease;

        @include m.mobile-m {
            font-size: 20px;
        }

        @include m.mobile-s {
            font-size: 18px;
        }

        path {
            stroke: currentColor;
            transition: all 0.3s ease;
        }

        &-title {
            &::before {
                content: 'Dark';
            }

            .dark-theme & {
                &::before {
                    content: 'Light';
                }
            }
        }

        &-icon {
            display: flex;
            align-items: center;

            svg {
                transition: all 0.5s ease;

                &:nth-child(1) {
                    opacity: 1;
                    transform: translateY(0);
                    scale: 1;
                }

                &:nth-child(2) {
                    position: absolute;
                    opacity: 0;
                    transform: translateY(20px);
                    scale: 0.4;
                }
            }

            @include m.mobile-m {
                svg {
                    width: 36px;
                    height: 36px;
                }
            }
        }

        .dark-theme & {
            &-icon {
                svg:nth-child(1) {
                    opacity: 0;
                    transform: translateY(-20px);
                    scale: 0.4;
                }

                svg:nth-child(2) {
                    opacity: 1;
                    transform: translateY(0);
                    scale: 1;
                }
            }
        }

        &:hover {
            color: v.$slate-300;
        }
    }

}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    gap: 60px;
    margin-bottom: 116px;

    @include m.mobile-m {
        margin-bottom: 30px;
        gap: 40px;
    }

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 48px;

        @include m.mobile-m {
            font-size: 36px;
        }
    }

    &__form {
        display: flex;
        height: auto;
        width: 100%;
        gap: 28px;

        @include m.mobile-m {
            gap: 12px;
        }
    }

    &__form-input {
        outline: none;
        border: none;
        background-color: var(--input);
        color: var(--text-primary);
        height: 60px;
        width: 100%;
        padding: 16px 26px;
        border-radius: 12px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

        @include m.mobile-m {
            font-size: 20px;
            padding: 16px 20px;
        }

        @include m.mobile-s {
            font-size: 18px;
            height: 52px;
        }

        &::placeholder {
            color: var(--placeholder);
            font-weight: 400;
        }

        .dark-theme & {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px v.$slate-500;
        }
    }

    &__form-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: var(--add-button);
        color: v.$white;
        font-weight: 700;
        border-radius: 12px;
        padding: 16px 32px;
        gap: 6px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: all 0.3s ease;

        @include m.mobile-m {
            padding: 0;
            width: 60px;
            height: 60px;
            flex-shrink: 0;

            span {
                display: none;
            }
        }

        @include m.mobile-s {
            padding: 0;
            width: 52px;
            height: 52px;
            flex-shrink: 0;

            span {
                display: none;
            }
        }

        &:hover {
            background-color: v.$slate-800;
            scale: 1.02;
        }

        .dark-theme & {
            &:hover {
                background-color: v.$slate-300;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: auto;
        width: 100%;

        &-empty {
            display: flex;
            justify-content: space-between;
            width: auto;
            align-self: center;
            align-items: center;
            gap: 48px;
            margin: 0 -42px;

            img {
                max-width: 332px;
                width: 100%;
                height: auto;
                flex: 0 1 auto;
                min-width: 0;

                .dark-theme & {
                    content: url(/src/assets/images/selfie-dark.png);
                }
            }

            p {
                max-width: 402px;
                width: 100%;
            }

            @include m.tablet-m {
                margin: 0;
                padding: 0 20px;
            }

            @include m.tablet-s {
                margin: 0;
                padding: 0 20px;
                height: 200px;

                img {
                    display: none;
                }

                p {
                    text-align: center;
                }
            }

            @include m.mobile-m {
                p {
                    font-size: 20px;
                }
            }
        }
    }

    &__filters {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        color: var(--text-secondary);
        gap: 20px;

        @include m.mobile-m {
            font-size: 16px;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
        }

        &-btn {
            background: none;
            border: none;
            color: var(--text-secondary);
            cursor: pointer;
            transition: all .3s ease;

            &.is-active {
                color: var(--filter-active);
            }

            &:hover:not(.is-active) {
                color: v.$slate-500;
            }

            &:hover {
                transform: translateY(-2px);
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: auto;
            width: 100%;
            gap: 24px;
            background-color: var(--surface);
            border-radius: 12px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
            padding: 30px 36px 30px 28px;

            @include m.mobile-m {
                height: auto;
                padding: 24px 20px 24px 20px;
            }

            @include m.mobile-s {
                height: auto;
                padding: 20px 20px 20px 20px;
            }

            &--done {
                .todo__item-title {
                    color: var(--text-secondary);
                    text-decoration: line-through;
                }
            }
        }
    }

    &__item-content {
        display: flex;
        gap: 32px;

        @include m.mobile-m {
            font-size: 20px;
            gap: 16px;
        }

        @include m.mobile-s {
            font-size: 18px;
        }
    }

    &__item-title--editable {
        border: none;
        background-color: transparent;
        outline: none;
        color: var(--placeholder);
        padding: 0;
        align-items: center;
        height: 28.8px;

        @include m.mobile-m {
            height: 24px;
        }

        @include m.mobile-s {
            height: 21.59px;
        }
    }

    &__item-checkbox {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        width: 20px;
        height: 20px;
        flex-shrink: 0;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked+span {
                background-color: var(--controls);
                box-shadow: none;

                svg {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }

            &:not(:checked)+span:hover {
                background-color: v.$gray-100;
                box-shadow: inset 0 0 0 2px v.$slate-300;

                .dark-theme & {
                    background-color: v.$slate-700;
                    box-shadow: inset 0 0 0 2px v.$slate-300;
                }
            }
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 4.4px 0;
            background-color: transparent;
            box-shadow: inset 0 0 0 2px var(--controls);
            border-radius: 3px;
            transition: all 0.3s ease;

            @include m.mobile-m {
                margin: 2px 0;
            }

            @include m.mobile-s {
                margin: 0.8px 0;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 6px;
                color: var(--check);

                opacity: 0;
                transform: translate(-50%, -50%) scale(0.5);
                transition: all 0.3s ease;
            }
        }
    }

    &__item-controls {
        display: flex;
        align-self: stretch;
        align-items: flex-start;
        padding: 4.4px 0;
        gap: 28px;

        @include m.mobile-m {
            gap: 18px;
            padding: 0;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__item-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        outline: none;
        width: 24px;
        height: 24px;
        padding: 0;
        cursor: pointer;

        &--edit {
            &:hover {
                path {
                    stroke: v.$slate-300;
                }
            }
        }

        &--delete {
            &:hover {
                path {
                    stroke: v.$slate-300;
                }
            }
        }

        path {
            stroke: var(--controls);
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
        }
    }
}

.footer {
    &__copy {
        font-size: 20px;
        color: var(--text-secondary);

        @include m.mobile-m {
            font-size: 16px;
        }
    }
}